.header{
    background: rgb(59, 59, 59);
    display: flex;
    justify-content: space-between;
    color: white;

    nav{
        li{
            list-style: none;
        }
    }
}


// .content-table 

// .content-table th,
// .content-table td {
//     padding: 12px 15px;
// }